main-app {
  height: 100%;
  height: -webkit-fill-available;
  width: 100%;
  width: -webkit-fill-available;
}
.song-scroller {
  position: fixed;
  bottom: 0;
  height: 10rem;
  width: 100%;
  width: -webkit-fill-available;
  background-color: black;
  box-shadow: 0 -5px 24px 0 rgba(0, 0, 0, 0.2),
    0 -15px 77px 0 rgba(0, 0, 0, 0.22) !important;
}

.player-buttons {
  top: 60%;
  left: 50%;
}
