extends layout
block content
  noscript
    | You need to enable JavaScript to run this app.
  script(src="/socket.io/socket.io.js")
  script(src='https://sdk.scdn.co/spotify-player.js')
  script.
    var access_token = '#{access_token}';
    var interval = #{interval};
    window.onSpotifyWebPlaybackSDKReady = () => {
      var Spotify = Spotify;
    };
  main#app
  script(src="/js/index.js")


